@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

select {
    background-image: url('./assets/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px;
    padding-right: 30px;
}

.categories ul li {
    transition: all ease .2s;
}

.categories ul li.active,
.categories ul li:hover {
    background-color: #15803d;
    color: #FFF;
    border-radius: 4px;
}
